.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Noto Serif", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto serif";
}

.header__title {
  margin: 183px 0 0;
  font-size: 58px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  line-height: 72px;
}

.header__description {
  font-family: "Noto serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.header__image {
  position: absolute;
  right: 5px;
  width: 646px;
  top: 124px;
}

.background__header-svg {
  position: absolute;
  width: 100%;
  height: auto;
}

.nav__item {
  list-style-type: none;
  display: inline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__img {
  width: 105px;
  height: 39px;
  left: -50px;
  position: relative;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  gap: 20px;
  display: flex;
}

.header__paragraph {
  z-index: 1;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.background__recipes-svg {
  background-size: cover;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  padding: 215px 80px;
  background-position: center;
}

.recipes__title {
  color: #ffffff;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0;
  gap: 24px;
}

.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  margin-right: 40px;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
  border: none;
}
.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.section__reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #d9e7ff;
}
